# 자전거 대여 수요 예측

- `datetime`: 날자
- `season`: 1 = 봄, 2 = 여름, 3 = 가을, 4 = 겨울
- `holiday`: 1 = 주말을 제외한 공휴일, 0 = 휴일이 아닌 날
- `workingday`: 1 = 주말 및 휴일이 아닌 주중, 0 = 주말 및 휴일
- `weather`: 1 = 맑음/약간 흐림, 2 = 안개/안개+흐림, 3 = 가벼운 눈/가벼운 비+천둥
- `temp`: 온도(섭씨)
- `atemp`: 체감온도(섭씨)
- `humidity`: 상대습도
- `windspeed`: 풍속
- `casual`: 등록되지 않은 사용자가 대여한 횟수
- `registered`: 등록된 사용자가 대여한 횟수
- `count`: 대여 횟수

In [6]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [10]:
bike_df = pd.read_csv('/jupyter/Data/bike-sharing-demand/train.csv')
print('DataFrame shape: ',bike_df.shape)
bike_df.head()

DataFrame shape:  (10886, 12)

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count
0,2011-01-01 00:00:00,1,0,0,1,9.84,14.395,81,0.0,3,13,16
1,2011-01-01 01:00:00,1,0,0,1,9.02,13.635,80,0.0,8,32,40
2,2011-01-01 02:00:00,1,0,0,1,9.02,13.635,80,0.0,5,27,32
3,2011-01-01 03:00:00,1,0,0,1,9.84,14.395,75,0.0,3,10,13
4,2011-01-01 04:00:00,1,0,0,1,9.84,14.395,75,0.0,0,1,1

In [12]:
bike_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10886 entries, 0 to 10885
Data columns (total 12 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   datetime    10886 non-null  object
 1   season      10886 non-null  int64
 2   holiday     10886 non-null  int64
 3   workingday  10886 non-null  int64
 4   weather     10886 non-null  int64
 5   temp        10886 non-null  float64
 6   atemp       10886 non-null  float64
 7   humidity    10886 non-null  int64
 8   windspeed   10886 non-null  float64
 9   casual      10886 non-null  int64
 10  registered  10886 non-null  int64
 11  count       10886 non-null  int64
dtypes: float64(3), int64(8), object(1)
memory usage: 1020.7+ KB

In [15]:
# 문자열을 datetime 타입으로 변경
bike_df['datetime'] = bike_df.datetime.apply(pd.to_datetime)

# datetime 타입에서 년, 월, 일 시간을 추출
bike_df['year'] = bike_df.datetime.apply(lambda x: x.year)
bike_df['month'] = bike_df.datetime.apply(lambda x: x.month)
bike_df['day'] = bike_df.datetime.apply(lambda x: x.day)
bike_df['hour'] = bike_df.datetime.apply(lambda x: x.hour)
bike_df.head()

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count,year,month,day,hour
0,2011-01-01 00:00:00,1,0,0,1,9.84,14.395,81,0.0,3,13,16,2011,1,1,0
1,2011-01-01 01:00:00,1,0,0,1,9.02,13.635,80,0.0,8,32,40,2011,1,1,1
2,2011-01-01 02:00:00,1,0,0,1,9.02,13.635,80,0.0,5,27,32,2011,1,1,2
3,2011-01-01 03:00:00,1,0,0,1,9.84,14.395,75,0.0,3,10,13,2011,1,1,3
4,2011-01-01 04:00:00,1,0,0,1,9.84,14.395,75,0.0,0,1,1,2011,1,1,4

In [16]:
# 불필요한 column을 drop
bike_df.drop(['datetime', 'casual', 'registered'], axis=1, inplace=True)

In [27]:
bike_df.groupby(['season','count'])['count'].mean()

season  count
1       1          1.0
        2          2.0
        3          3.0
        4          4.0
        5          5.0
                 ...
4       900      900.0
        901      901.0
        917      917.0
        943      943.0
        948      948.0
Name: count, Length: 2392, dtype: float64

In [ ]:
sns.catplot(x='season',y=)